admin.css


*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:serif, sans-serif;

}



body{

background:#F8F4E8;

color:#1F355D;

}





nav{

height:90px;

background:#003049;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 70px;

}



.brand{

display:flex;

align-items:center;

gap:15px;

color:#EAE2B7;

}



.brand img{

width:55px;

}



.nav-links a{

color:#EAE2B7;

text-decoration:none;

margin-left:30px;

font-size:18px;

}





.container{

padding:50px 80px;

}



h1{

font-size:45px;

}



.subtitle{

font-size:20px;

margin-top:10px;

color:#003049;

}





.monitor{

margin-top:40px;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 15px 40px rgba(0,0,0,.12);

}



.monitor h2{

font-size:32px;

}





.stats{

display:flex;

gap:30px;

margin:40px 0;

}





.stat{

background:#FCBF49;

padding:30px;

border-radius:15px;

width:250px;

}



.stat p{

font-size:20px;

color:#003049;

}



.stat h1{

font-size:35px;

margin-top:15px;

}





.danger{

color:#c1121f;

}





button{

padding:18px 35px;

background:#003049;

color:#EAE2B7;

border:none;

border-radius:12px;

font-size:20px;

cursor:pointer;

}



button:hover{

background:#1F355D;

}






.response{

margin-top:40px;

background:#EAE2B7;

padding:40px;

border-radius:20px;

box-shadow:0 15px 40px rgba(0,0,0,.12);

}





.response h2{

font-size:35px;

color:#c1121f;

}





.result-box{

display:flex;

gap:30px;

margin-top:30px;

}



.result-box div{

background:white;

padding:25px;

border-radius:15px;

width:250px;

}




.success{

color:#2a9d8f;

font-size:30px;

}





.message{

margin-top:30px;

font-size:20px;

color:#003049;

}





.hidden{

display:none;

}